<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645748304731-rs8t0rii4b49lm2odtnksurg4msqjasu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645748304731-rs8t0rii4b49lm2odtnksurg4msqjasu</string>
	<key>API_KEY</key>
	<string>AIzaSyBGPjnsg7jI8tQLDMe2GeleeI-vPs6I4Uw</string>
	<key>GCM_SENDER_ID</key>
	<string>645748304731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.businessCard</string>
	<key>PROJECT_ID</key>
	<string>business-card-95ca0</string>
	<key>STORAGE_BUCKET</key>
	<string>business-card-95ca0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645748304731:ios:59552447a3e2be2547487e</string>
</dict>
</plist>